<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>private</title>
</head>
<body>
    <h1>bienvenu dans votre section</h1>
    <p>
        <a href="logout.php">se déconnecter</a>
    </p>
</body>
</html>